@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Gerador De Dados
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Default"
                             ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@Color.Default" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
        <MudPaper Class="mt-8" Outlined="true" Square="true" Elevation="0">
            <MudContainer>
                <MudGrid Justify="Justify.Center" Class="mt-4">

                    <MudLink Class="mt-2" Href="https://www.linkedin.com/feed/" Target="_blank" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" />
                    </MudLink>

                    <MudLink Class="mt-2 ml-2" Href="https://github.com/ezequiel-lima" Target="_blank" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" />
                    </MudLink>

                    <MudItem xs="12" Class="mb-8">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">
                            © @(DateTime.Now.Year) Gerador De Dados. Todos os direitos reservados.
                        </MudText>
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </MudPaper>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _drawerOpen = true;
    private bool _isDarkMode;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}